.dashboard-container {
  display: flex;
  min-height: 100vh; /* Permite crecer con el contenido */
  position: relative;
}

.sidebar-resizable {
  background-color: #f8f9fa;
  min-width: 180px;
  max-width: 500px;
  overflow-y: auto;
  transition: width 0.2s ease;
  border-right: 1px solid #dee2e6;
  height: 100%;
}

.resizer {
  width: 5px;
  cursor: ew-resize;
  background-color: #ccc;
  transition: background-color 0.2s ease;
  height: 100vh;
}

.resizer:hover {
  background-color: #999;
}

.main-area {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: white;
  overflow: hidden; /* evita doble scroll */
}

.main-area > .container {
  flex: 1;
  overflow-y: auto;
  padding-bottom: 20px;
}

.main-content {
  flex: 1;
  overflow-y: auto;
}
